/***********************IMPORT************************************/
@import "helper";

/************************ HEADER **********************************/


.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  /*&>:nth-child(n){
    flex: 1 1 0;
  }*/

  .navigation {
    width:25%;
  }

  .brand {
    width: 50%;
    text-align: center;
    h1 {
      font-family: $titleFont;
      font-weight: bold;
      font-size: 3em;
    }
    .slogan {
      text-transform: uppercase;
    }
  }
  .search {
    text-align: right;
    width:25%;
    form {
      display: inline;
      overflow: visible;

      .inputHidden {
        display: inline-block;
        label {
          position: relative;
        }
        input {
          position: relative;
          right:0;
          width:0;
          border: none;
          transition:width 0.3s;
        }
      }

      button {
        background: transparent;
        border: none;
      }
    }
    form:hover input {
      width:8em;
    }

  }

  .userAccount {
    width: 10%;
  }
  .userAccountDesktop {
    font-size: 0.75em;
  }
}


/****************************************************************************************
***************************** MEDIA QUERIES******************************************/


/******************* MOBILE *******************************************************/

@media screen and (max-width: 700px){

  .header {
    flex-wrap: wrap;
    .userAccountMobile {
      font-size: 2em;
      margin-top: 0;
    }
    .userAccountDesktop {
      display: none;
    }

    .search {
      order: 4;
      width:100%;

      form {
        width: 100%;
        .inputHidden {
          width: 90%;
          label {
            display: none;
          }

          input {
            width: 100%;
          }
        }

      }
    }
  }
}


@media screen and (min-width: 700px) {
  .userAccountMobile {
    display: none;
  }
}